@import url('https://use.typekit.net/gqb8ghc.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;

  font-family: league-gothic, sans-serif;
  font-weight: 400;
  font-style: normal;
}
