@import url('https://use.typekit.net/gqb8ghc.css');
@import './assets/css/weather-icons.min.css';
@import './assets/css/weather-icons-wind.min.css';

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;
}
